@charset"utf-8";
.food{
    padding: 50px 0 60px;
    color:#b17b49;
}
.menu-card{
    width: 320px;
    height:450px;
    margin-top: 35px;
       
}
.menu-card-inner{
    padding: 10px;
    text-align: center;    
}
.menu-image{
    margin-bottom: 20px;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 5px;
}
.menu-title{
    margin-bottom: 8px;
}
.menu-text{
    font-size: 12px;
}
.menu-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;      
}